// the anchor node <a> button.
.cft-button {
  text-decoration: none !important;
  text-underline-offset: 0.2em;

  &:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
  }
}

// the "Terminate!" or "Determinate" <a> button.
.cft-hint {
  color: #808080 !important;
  font-size: small;
}