#search {
  .cft-farm-result {
    .cft-result-title {
      font-style: italic;
      color: #cc0000;
    }
  }
}

#botstuff {
  .cft-bottom-hint {
    font-style: italic;
    margin-bottom: 2em;
  }
}