.cft-farm-result {

  // Google website
  .LC20lb.MBeuO.DKV0Md,
  // Google news
  .mCBkyc.tNxQIb.y355M.ynAwRc.nDgy9d,
  // Google images
  .OztcRd {
    font-style: italic;
    color: #cc0000;
  }

}

#botstuff {
  .cft-bottom-hint {
    font-style: italic;
    margin-bottom: 2em;
  }
}