body[cft-search-category="google-website"] {

  .cft-result.MkXWrd {
    .cft-hint {
      margin-left: 0.5em;
    }
  }

  .cft-blocked-hint.MkXWrd {
    padding: 16px;
    font-size: small;
  }

  .cft-result:not(.MkXWrd) {
    .cft-hint {
      margin-left: 0.5em;
    }

    // If the button is next to the triangle dropdown, set to no margin.
    // Such dropdown is a simple <span> tag; not knowing how to select it
    // properly.
    .eFM0qc.BCF2pd + .cft-hint {
      margin-left: 0;
    }

    // result node title and subtitle wrapper; for website search
    .cft-result-title-wrapper {
      position: static !important;
      display: flex;
      flex-direction: column-reverse;

      // result node title and subtitle
      a {
        br {
          display: none;
        }

        // result node title
        h3 {
          margin-top: 0;
        }
      }

      // result node subtitle
      .cft-result-subtitle {
        width: 100%;
        height: initial !important;
        position: static !important;
        flex-direction: row;
        visibility: visible !important;
      }
    }
  }
}
