body[cft-search-category="google-website"] {

  .cft-result.MkXWrd {
    .cft-hint {
      margin-left: 0.5em;
    }
  }

  .cft-blocked-hint.MkXWrd {
    padding: 16px;
    font-size: small;
  }

  .cft-result:not(.MkXWrd) {
    .cft-hint {
      margin-left: 0.5em;
    }

    // If the button is next to the triangle, set to no margin.
    span+.cft-hint {
      margin-left: 0;
    }

    // result node title and subtitle wrapper; for website search
    .cft-result-title-wrapper {
      position: static !important;
      display: flex;
      flex-direction: column-reverse;

      // result node title
      a {
        br {
          display: none;
        }

        h3 {
          padding-top: 1px;
        }

        .TbwUpd.NJjxre {
          display: none;
        }
      }

      // result node subtitle
      .cft-result-subtitle {
        width: 100%;
        height: initial !important;
        position: static !important;
        display: flex;
        flex-direction: row;
        visibility: visible !important;

        .eFM0qc {
          flex-shrink: 0;
        }

        .cft-url {
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          flex-shrink: 1;
        }
      }
    }
  }
}