.cft-farm-result {

  // Google website
  .LC20lb.MBeuO.DKV0Md,
  // Google news
  .mCBkyc.y355M.JQe2Ld.nDgy9d {
    font-style: italic;
    color: #cc0000;
  }
}

#botstuff {
  .cft-bottom-hint {
    font-style: italic;
    margin-bottom: 2em;
  }
}