body {
  margin: 0px;
  padding: 4px;
  font-family: sans-serif;
  font-size: 14px;
}
body > div {
  margin: 4px;
}

textarea {
  font-family: consolas, sans-serif;
  width: 40em;
  border-radius: 3px;
  padding: 0.5em;
  line-height: 1.5;
}

.bar {
  display: flex;
}
.bar-left {
  flex-grow: 1;
}
.bar-left button {
  font-family: sans-serif;
  padding: 0 0.5em;
  height: 24px;
}
.bar-left button:not(:last-child) {
  margin-right: 0.5em;
}
#hint {
  padding-top: 8px;
  line-height: 20px;
}
#hint p {
  margin: 0;
}
#hint p:not(:last-child) {
  margin-bottom: 6px;
}
