@import 'reset';

body {
  padding: 0.75rem;
  font-family: sans-serif;
  font-size: 1rem;
}

.editor-wrapper {
  margin-bottom: 0.5rem;

  #txtArea {
    font-family: consolas, monospace;
    border-radius: 3px;
    padding: 0.25rem;
    line-height: 1.5;
  }
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;

  .buttons-left {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    button {
      display: block;
      padding: 0.08rem 0.75rem 0.04rem;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}

#hint {
  line-height: 1.5;

  p {
    margin-top: 0.5rem;
  }
}